<div class="codebox span-21">
  <% @snippets.each do |snippet| %>
  <p style="margin-bottom: 5px;"><small>Tags:  <%= render :collection => snippet.tags, :partial => "tags/taglink" %></small></p>
  <pre class="prettyprint"><%= sanitize snippet.code %></pre>
  <p style="margin-bottom: 0px; margin-top: 3px;"><small>Created <%= distance_of_time_in_words(snippet.created_at, Time.now) %> ago by <%= snippet.user.username %></small></p>
  <hr/>
  <% end %>
</div>
