<div class="container">
  <br/>
  <%= render :object => @snippets, :partial => "snippets/snippets" %>

  <div class="sidebar span-3 last">
    <h2>Tags:</h2>
    <ul>
      <% @tags.each do |tag| %>
      <li><%= render :object => tag, :partial => "tags/taglink" %></li>
      <% end %>
    </ul>
  </div>
</div>
